@{
    ViewData["Title"] = "Home Page";
}

<div class="container py-4">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold"><i class="fa-solid fa-user-group"></i> Cadastro de Clientes</h1>
      <p class="col-md-8 fs-4">
        Este aplicativo consiste em um pequeno cadastro de clientes com relacionamento com contatos, com o objetivo de implementar um CRUD
        de cadastro de clientes e seus contatos vinculados.
      </p>
      <br/>
      <a class="btn btn-dark" href="https://github.com/gustmrg/dotnet-cadastros-crud-app" target="_blank"><i class="fa-brands fa-github"></i> Source Code</a>
    </div>
  </div>
</div>